<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A admin dashboard application demo built upon Ant Design and Dva.js">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_802366_5uzd4ykkicf.css" />
  <link href="//vjs.zencdn.net/5.20.1/video-js.css" rel="stylesheet">

  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=DZOcgpLG6kOcFeqGatZeW8qit5U2d5tx"></script>
  <title>UMI</title>
  <script src="//vjs.zencdn.net/5.20.1/video.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/5.14.1/videojs-contrib-hls.js"></script>
  <!--[if lte IE 10]>
      <script
        src="https://as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,media-match/2.0.2/media.match.min.js"></script>
  <![endif]-->

</head>

<body>
  <div id="root"></div>
</body>

</html>
